@model Restaurant.Models.ThucDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ThucDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThucDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThucDon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaThucDon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
