
<h1>id: @ViewBag.id</h1>
<h1>total: @ViewBag.name</h1>

<form id="form-id" asp-action="test">
    <input name="id" value="2" hidden />
    <a>name</a>
    <input type="number" name="total" />
    <div onclick="document.getElementById('form-id').submit()">gui</div>
</form>
