@model Restaurant.Models.VanChuyen

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1>Details</h1>

    <div>     
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrangThaiVanChuyen)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrangThaiVanChuyen)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.MaVanChuyen">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>
